body {
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 40px;
    letter-spacing: 0.12em;
    margin-top: 30px;
    padding: 0 20px
}

.final-check{
    text-align: center;
    font-size: 50px;
}

.leave-btn[type=submit] {
    margin: 100px 0 0 0;
    font-size: 60px;
    padding: 0.5em;
    width: 250px;
    height: 150px;
    color: #000000;
    background: #5bbee5;
    background: linear-gradient(to bottom, #e5875b, #7f0903);
}

.leave-btn-center {
    text-align: center;

}