.body {
    margin-top: 180px;
    padding: 0 20px
}

.final-check{
    text-align: center;
    font-size: 50px;
}

.leave-btn {
    margin: 100px 0 0 0;
    font-size: 60px;
    padding: 0.5em;
    width: 250px;
    height: 150px;
    color: #000000;
    background: #5bbee5;
    background: linear-gradient(to bottom, #e5875b, #7f0903);
}

.leave-btn-center {
    text-align: center;

}

.prompt_1 {
    text-align: center;
    font-size: 50px;
    color: rgba(119, 29, 29, 0.534);
}