.all-content{
    margin-top: 180px;
    padding: 0 30px;
}

.exchange {
    font-size: 32px;
}
.exchange-title {
    margin-top: 180px;
    font-size: 50px;
}
.exchange-title span{
    color: red;
}
.exchange-title-name {
    width: 100%;
    border-radius: 20px;
    border: 2px solid black;
    text-indent: 20px;
    font-size: 30px;
    padding: 30px 0;
    box-sizing: border-box;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif !important;
}
.exchange-explain {
    margin: 120px 50px 50px 0;
    font-size: 40px;
}
.explain-form{
    font-size: 20px;
}
.exchange-explain-area {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    border: 2px solid black;
    text-indent: 20px;
    font-size: 30px;
    padding: 30px 0;
    box-sizing: border-box;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif !important;
}
.exchange-explain-area.break {
    overflow-wrap: break-all;
}
.exchange-theme {
    margin: 120px 50px 50px 0;
    font-size: 40px;
}
.exchange-exit {
    margin: 50px;
    font-size: 40px;
    transform: scale(6.0);
}
.exchange-none {
    margin: 50px;
    font-size: 40px;
    transform: scale(6.0);
}
.exchange-theme-area {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 15px;
    border: 2px solid black;
    text-indent: 20px;
    font-size: 30px;
    padding: 30px 0;
    box-sizing: border-box;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif !important;
}
.exchange-theme-area-2 {
    font-size: 32px;
    width: 95%;
    min-height: 100px;
    padding: 10px;
    border: solid 5px black;
    margin: 0 auto;
    display: none;
}
.exchanege-theme-button {
    margin-top: 40px;
    font-size: 50px;
    min-width: 200px;
    max-width: 600px;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    border-radius: 20px;
    background: #0077ff;
    color: white;
}
.delete-button{
    background: #e60033;
}
.display-none {
    display: none;
}
input {
    border-radius: 4px;
    box-shadow: 0;
    border: 1px solid #ccc;
}
.exchange-finish {
    margin: 80px 0px 50px 0;
    font-size: 50px;
    font-weight: bold;
}
.exchange-calendar {
    font-size: 40px;
}
.exchange-finishtime {
    margin: 50px;
    font-size: 20px;
    transform: scale(4.0);
}
.hold-button {
    display: block;
    margin: 180px auto 0 auto;
    height: 115px;
    width: 100%;
    font-size: 40px;
    padding: 30px 20px;
    box-sizing: border-box;
    background-color: #0077ff;
    border-radius: 20px;
    border: 1px solid #0077ff;
    color: white;
}
.exchange-today{
    text-align: center;
}
.exchange-finishday{
    margin:50px;
    transform: scale(6.0);
}
/* エラーメッセージの表示 */
.prompt_2 {
    padding: 30px;
    text-align: center;
    font-size: 40px;
    color: rgba(119, 29, 29, 0.534);
}
.msg-size {
    height: 50px;
    margin: 180px 0 120px 0;
}

.flex-title{
    display: flex;
    margin: 80px 0 30px 0;
}
.flex-title h1{
    margin: auto 0 auto 20px;
    font-size: 50px;
    text-align: left;
}
.flex-title p{
    font-size: 35px;
    margin: auto 0 0 auto;
}