body {
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 30px;
    margin-bottom: 100px;
}

.gift_detail{
    padding: 0 20px;
}

/* .syosai {
    text-align: center;
    font-size: 60px;
    display: block;
    letter-spacing: 0.12em;
    color: #494949;
    background: #f3ebe2;
    margin-top: 60px;
    padding: 0.5em;
} */

.gift_sentence {
    display: flex;
    text-align: center;
    margin-bottom: 50px;
}

.gift_name {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin: 50px 0;
}

.gift_post{
    align-items: center;
    margin-bottom: 50px;
    padding: 0 30px;
}

.gift_post h4{
    white-space: nowrap;
}

.gift_explain{
    margin: 20px 0 50px 0;
}

.explain_sentence {
    display: inline-block;
    font-weight: bold;
    font-size: 60px;
    border-bottom: double 3mm #FF0000;
}

.request_sentence {
    border-radius: 60px;
    padding: 2em;
    margin: 0 auto;
    width: 500px;
    color: #FFFAFA;
    background-color: #668ad8;
}

.once_sentence {
    margin-top: 20px;
}

.good_count {
    align-items: center;
    text-align: center;
    margin: 0 0 30px 0;
    display: flex;
    padding: 30px;
}

.gift_table{
    margin: 100px 0;
    width: 100%;
}

.gift_table th{
    position: relative;
    text-align: left;
    width: 40%;
    white-space: nowrap;
}

.gift_table th:after{
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #333;
    position: absolute;
    top:calc(50% - 1px);
    right:20px;
}

.gift_table td{
    text-align: center;
    width: 85%;
}

.good_sentence {
    display: flex;
    outline: none;
}

.good_sentence label {
    width: 200px;
    line-height: 150px;
    background-color: grey;
    border-radius: 60%;
    color: #fff;
}

.good_sentence input:checked+label {
    background: greenyellow;
    color: #000;
}

.good_sentence input {
    display: none;
}


.good_number {
    text-align: center;
    font-size: 40px;
    padding: 0px 20px;
}

.comment_sentence {
    font-size: 40px;
    text-align: left;
    background-color: rgba(61, 106, 161, 0.447);
}

.commentr_sentence {
    font-size: 30px;
    margin-bottom: 400px;
}

.comment_place {
    display: flex;
}

.commenter_place {
    margin-top: 20px;
    display: flex;
    font-size: 30px;
}

.comment_box {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    border: solid 5px black;
    margin: 0 auto;
}

.comment-send_btn {
    padding: 0.5em;
    text-decoration: none;
    color: #FFFAFA;
    background: #668ad8;
    border-bottom: solid 4px #627295;
    border-radius: 5px;
}

/* 以下、チャット */
.chatting_place {
    width: 100%;
    height: 500px;
    overflow: scroll;
    border-bottom: solid 8px rgba(61, 106, 161, 0.447);
    border-right: solid 8px rgba(61, 106, 161, 0.447);
    border-left: solid 8px rgba(61, 106, 161, 0.447);
}

.chatting_place .faceicon {
    float: left;
    margin-right: -90px;
    width: 80px;
}

.chatting_place .faceicon img {
    width: 100%;
    height: auto;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
}

.cahtting_place .chatting {
    width: 100%;
}

.onechat{
    padding: 10px;
}

.says {
    display: inline-block;
    position: relative;
    margin: 0px 10px 0 100px;
    padding: 10px 10px;
    border-radius: 12px;
    background: #d7ebfe;
    max-width: 95%;
}

.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px;
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #d7ebfe;
}

.says p{
    margin:10px;
}

.comment_username{
    font-weight: bold;
}

.comment_postdata{
    font-size:20px;
    color: #696969;
}

.comment_reply {
    text-align: left;
    font-size: 30px;
    margin: 5px 0 30px 105px;
    border-radius: 10px;
    padding: 0.5em;
    background-color: rgba(61, 106, 161, 0.447);
}

/* 以下、画像スライド*/

/* # =================================================================
   # Global selectors
   # ================================================================= */

html {
    box-sizing: border-box;
    overflow-y: scroll;
    /* All browsers without overlaying scrollbars */
    -webkit-text-size-adjust: 100%;
    /* iOS 8+ */
}

*,
::before,
::after {
    background-repeat: no-repeat;
    /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
    box-sizing: inherit;
}

::before,
::after {
    text-decoration: inherit;
    /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
    vertical-align: inherit;
}

* {
    padding: 0;
    /* Reset `padding` and `margin` of all elements */
    margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */

/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
    display: none;
    height: 0;
}



/*
  * Correct `block` display not defined for any HTML5 element in IE 8/9
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox
  * Correct `block` display not defined for `main` in IE 11
  */
article,
aside,
details,
figcaption,
figure,
footer,
main,
menu,
nav,
section,
summary {
    display: block;
}

summary {
    display: list-item;
    /* Add the correct display in all browsers */
}

small {
    font-size: 80%;
    /* Set font-size to 80% in `small` elements */
}

[hidden],
template {
    display: none;
    /* Add the correct display in IE */
}

abbr[title] {
    border-bottom: 1px dotted;
    /* Add a bordered underline effect in all browsers */
    text-decoration: none;
    /* Remove text decoration in Firefox 40+ */
}

a {
    background-color: transparent;
    /* Remove the gray background on active links in IE 10 */
    -webkit-text-decoration-skip: objects;
    /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
    outline-width: 0;
    /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    /* Specify the font family of code elements */
}

b,
strong {
    font-weight: bolder;
    /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
    font-style: italic;
    /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
    background-color: #ff0;
    color: #000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */

input {
    border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
    cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
    cursor: default;
}

[type="number"] {
    width: auto;
    /* Firefox 36+ */
}

[type="search"] {
    -webkit-appearance: textfield;
    /* Safari 8+ */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    /* Safari 8 */
}

textarea {
    overflow: auto;
    /* Internet Explorer 11+ */
    resize: vertical;
    /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    /* Specify font inheritance of form elements */
}

optgroup {
    font-weight: bold;
    /* Restore the font weight unset by the previous rule. */
}

button {
    overflow: visible;
    /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: 0;
    padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    outline: 1px dotted ButtonText;
}

button,
html [type="button"],
/* Prevent a WebKit bug where (2) destroys native `audio` and `video`controls in Android 4 */
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* Correct the inability to style clickable types in iOS */
}

button,
select {
    text-transform: none;
    /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
}

/* Style select like a standard input */
select {
    -moz-appearance: none;
    /* Firefox 36+ */
    -webkit-appearance: none;
    /* Chrome 41+ */
}

select::-ms-expand {
    display: none;
    /* Internet Explorer 11+ */
}

select::-ms-value {
    color: currentColor;
    /* Internet Explorer 11+ */
}

legend {
    border: 0;
    /* Correct `color` not being inherited in IE 8/9/10/11 */
    color: inherit;
    /* Correct the color inheritance from `fieldset` elements in IE */
    display: table;
    /* Correct the text wrapping in Edge and IE */
    max-width: 100%;
    /* Correct the text wrapping in Edge and IE */
    white-space: normal;
    /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* Correct the inability to style clickable types in iOS and Safari */
    font: inherit;
    /* Change font properties to `inherit` in Chrome and Safari */
}

[type="search"] {
    -webkit-appearance: textfield;
    /* Correct the odd appearance in Chrome and Safari */
    outline-offset: -2px;
    /* Correct the outline style in Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */

img {
    border-style: none;
    /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
    vertical-align: baseline;
}

svg:not(:root) {
    overflow: hidden;
    /* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
    display: inline-block;
    /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* # =================================================================
     # Accessibility
     # ================================================================= */

/* Hide content from screens but not screenreaders */
@media screen {
    [hidden~="screen"] {
        display: inherit;
    }

    [hidden~="screen"]:not(:active):not(:focus):not(:target) {
        position: absolute !important;
        clip: rect(0 0 0 0) !important;
    }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
    cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
    cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
    cursor: default;
}

/* # =================================================================
     # Selection
     # ================================================================= */

/* Specify text selection background color and omit drop shadow */

::-moz-selection {
    background-color: #b3d4fc;
    /* Required when declaring ::selection */
    color: #000;
    text-shadow: none;
}

::selection {
    background-color: #b3d4fc;
    /* Required when declaring ::selection */
    color: #000;
    text-shadow: none;
}

/*==================================================
スライダーのためのcss
===================================*/
.slider {
    /*横幅94%で左右に余白を持たせて中央寄せ*/
    width: 94%;
    margin: 0 auto;
}

.slider img {
    width: 100%;
    /*スライダー内の画像を横幅100%に*/
    height: 1000px;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin: 0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;
    top: 42%;
    outline: none;
    /*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;
    /*矢印の色*/
    border-right: 2px solid #666;
    /*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {
    /*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {
    /*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width: 8px;
    /*ドットボタンのサイズ*/
    height: 8px;
    /*ドットボタンのサイズ*/
    display: block;
    border-radius: 50%;
    background: #ccc;
    /*ドットボタンの色*/
}

.slick-dots .slick-active button {
    background: #333;
    /*ドットボタンの現在地表示の色*/
}

.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}



.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 100px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}