@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    display: block;
    text-align: center;
}

.content-check {
    display: flex;
    flex-wrap: wrap;
}

.example-category {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid gray;
    border-radius: 15px;
    color: black;
    position: relative;
    width: 100%;
    font-size: 30px;
    padding: 30px 20px;
}

.example-category option {
    font-size: 15px;
}

.category-content-center {
    text-align: center;
}

.trade_icon {
    border: 1px solid gray;
    width: 120px;
    height: 120px;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 50%;
    object-fit: cover;
    background-color: #fff;
}

.trade_name {
    width: calc(100% - 152px);
    margin: 0 0 0 30px;
    line-height: 35px;
}

.title-flex {
    display: flex;
    margin: 60px 0 30px 0;
}

.title-flex-tag1 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    background-color: gray;
    color: #fff;
    padding: 20px 30px;
}

.title-flex-tag2 {
    font-size: 35px;
    margin: auto 0 0 auto;
    align-items: center;
}

.header-margin-top {
    margin-top: 150px;
    padding: 0 20px;
}

.sample-img {
    margin: auto;
    width: calc(80vw - 40px);
    height: calc(80vw - 40px);
    display: flex;
    flex-wrap: wrap;
}

.sample-img-size {
    width: calc(40vw - 20px);
    height: calc(40vw - 20px);
    object-fit: cover;
}

.frame-img {
    display: block;
    width: calc(40vw - 20px);
    height: calc(40vw - 20px);
}

.delete-btn {
    position: relative;
    top: calc(-40vw + 40px);
    right: calc(-40vw + 90px);
    width: 50px;
    height: 50px;
    display: block;
    background: #fefefe;
    border-radius: 100%;
}

.delete-btn::before,
.delete-btn::after {
    /* 共通設定 */
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    /* 棒の幅（太さ） */
    height: 35px;
    /* 棒の高さ */
    background: red;
}

.delete-btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.delete-btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.content-margin {
    margin: auto 0 auto 20px;
    font-size: 50px;
    text-align: left;
}

.gift-title {
    width: 100%;
    border-radius: 20px;
    border: 1px solid gray;
    text-indent: 20px;
    font-size: 30px;
    padding: 30px 0;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif !important;
}

.gift-title::placeholder {
    text-indent: 20px;
}

.gift-title:focus {
    outline: 0;
    border-color: aqua;
}

.trade-box {
    width: calc(50% - 10px);
    font-size: 30px;
    /* フォントサイズ */
    text-align: left;
    margin-bottom: 20px;
}

.margin-l {
    margin-left: 10px;
}

.margin-r {
    margin-right: 10px;
}

.trade-box input[type="checkbox"] {
    display: none;
}

.trade-box input[type="checkbox"]+label {
    transition: .1s;
    padding: 30px 15px;
    font-size: 30px;
    color: black;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.trade-box input[type="checkbox"]:checked+label {
    background-color: #3f97fa;
    color: #fff;
}

.trade-box input[type="checkbox"]+label:last-child {
    margin-bottom: 0;
}

.Detailed-information {
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif !important;
    font-size: 30px;
    padding: 30px 20px;
    height: 250px;
    width: calc(100% - 42px);
    border: 1px solid gray;
    resize: none;
}

.group-checkbox {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid gray;
    border-radius: 15px;
    color: black;
    position: relative;
    width: 100%;
    font-size: 30px;
    padding: 30px 20px;
    background: #fafafa;
    height: 400px;
    overflow: scroll;
}

.multiple_icon {
    height: 75px;
    width: 75px;
}

.multiple_check label{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.multiple_check input[type="checkbox"] {
    display: none;
}

.multiple_check input[type="checkbox"]:checked + label {
    background-color: #3f97fa;
    color: #fff;
}

.trade_name_multiple {
    margin: 0 0 0 30px;
    line-height: 35px;
}

.pull-check {
    position: relative;
}

.pull-check::after {
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 17px solid black;
    content: "";
    position: absolute;
    right: 45px;
    top: 39px;
    width: 0;
}

.form-btn {
    display: block;
    margin: 180px auto 0 auto;
    height: 115px;
    width: 100%;
    font-size: 40px;
    padding: 30px 20px;
    box-sizing: border-box;
    background-color: #0077ff;
    border-radius: 20px;
    border: 1px solid #0077ff;
    color: white;
}

.upload-label {
    display: inline-block;
    margin: 30px 0 0 0;
    /* まわりの余白 */
    padding: 30px 0;
    /* 文字まわりの余白 */
    color: black;
    /* 文字色 */
    font-size: 30px;
    /* フォントサイズ */
    border-radius: 20px;
    /* 角の丸み */
    border: 1px gray solid;
    width: 100%;
}

.upload-label input {
    display: none;
}

.gift_detail {
    margin-top: 150px;
    padding: 0 20px;
}

.lnk-delete-div {
    text-align: right;
    margin: 210px 0 0 0;
}

.btn-style2 {
    margin: 0 0 0 auto;
    text-align: center;
    font-size: 40px;
    padding: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border-radius: 20px;
    border: none;
    background: #e60033;
    box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
    text-decoration: none;
    color: #EEEEEE;
}

.prompt_1 {
    text-align: center;
    font-size: 50px;
    color: rgba(119, 29, 29, 0.534);
}

.prompt_2 {
    text-align: center;
    font-size: 50px;
    color: rgba(119, 29, 29, 0.534);
}