body {
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif;
}

body, html {
    margin-bottom: 0 !important;
}

.bx-wrapper {
    margin-bottom: 30px !important;
    max-width: none !important;
    width: 90% !important;
    margin-left: 5vw !important;
}

.bx-wrapper .bx-controls-direction a {
    width: 75px !important;
    height: 75px !important;
}

.bx-wrapper .bx-next {
    background-position: -100px 0px !important;
    background-size: 300% !important;
}

.bx-wrapper .bx-prev {
    background-position: 0px 0px !important;
    background-size: 300% !important;
}

.gift_detail {
    font-size: 35px;
    margin-top: 10px;
    padding: 0 20px;
}

.btn_center {
    text-align: center;
}

.btn_right {
    text-align: right;
}
/* タブ切り替え */
.tabs {
    background-color: #fff;
    margin: 150px auto 0 auto;
}

/*タブ切り替えのスタイル*/
.tab_item {
    width: 50%;
    padding: 20px;
    display: block;
    border-radius: 20px 20px 0 0;
    line-height: 80px;
    text-align: center;
    float: left;
    font-size: 35px;
    background-color: #efefef;
    border-bottom: 3px solid gray;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked+.tab_item {
    background-color: #ffffff;
    border: 3px solid gray;
    border-bottom: none;
    color: #000000;
}

/* .tab_item:hover {
    opacity: 0.75;
} */

input[name="tab_item"] {
    display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
    clear: both;
    overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
/* #all:checked~#all_content,
#comment:checked~#comment_content
{
    display: block;
} */

.gift_sentence {
    display: flex;
    text-align: center;
    margin-bottom: 50px;
}

.gift_name {
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    margin: 30px;
    width: calc(100% - 240px);
    line-height: 1.5;
}

.button_list1 {
    margin: 0 0 0 auto;
    display: flex;
}

.gift_post {
    align-items: center;
}

.gift_post h4 {
    margin: 0;
    white-space: nowrap;
}

.gift_post_detail {
    font-size: 40px;
    color: blue;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.gift_post_detail img {
    width: 100px;
    height: 100px;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
    object-fit: cover;
}

.gift_post_detail p {
    padding-left: 30px;
    justify-content: center;
    align-items: center;
}

.gift_contributor {
    color: black;
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gift_explain_title {
    position: relative;
    text-align: left;
    width: calc(50% - 15px);
    white-space: nowrap;
    padding: 20px;
    font-weight: bold;
    margin: 0;
}

.gift_explain {
    margin: 20px 0 50px 0;
}

.explain_sentence {
    margin: 0;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: bold;
    font-size: 50px;
}

.request_sentence {
    border-radius: 60px;
    font-size: 50px;
    padding: 1em 1em;
    margin: 0 auto;
    width: 500px;
    color: #FFFAFA;
    background-color: #668ad8;
}

.request_sentence:active {
    -ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    box-shadow: none;
}

.once_sentence {
    line-height: 1.5;
    padding: 0.5em;
    margin: 10px 20px;
    border: 1px solid gray;
    border-radius: 20px;
}

.button-list2 {
    display: flex;
}

.good_count {
    align-items: center;
    text-align: center;
    margin: 0;
    /* padding: 30px; */
}

.cnt-good {
    padding-top: 30px;
}

.cnt-margin {
    margin-bottom: 60px;
    display: block;
}

.gift_table {
    margin: 20px 0 0px 0;
    width: 100%;
}

.gift_table tr {
    position: relative;
}

.gift_table th {
    text-align: left;
    width: 50%;
    white-space: nowrap;
    padding: 20px;
}

.gift_table_span {
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 150px);
}

.gift_table_width {
    text-align: center;
    padding-left: 15px;
    width: 50%;
}

.good_sentence {
    display: flex;
    outline: none;
}

.display_flex {
    display: flex;
    align-items: center;
    min-height: 200px;
}

.favorite_before {
    position: relative;
    width: 100px;
    height: 55px;
    margin: -20px 0 0 0;
}

.favorite_before:before,
.favorite_before:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 30px;
    width: 40px;
    height: 70px;
    background: gray;
    border-radius: 50px 50px 0 0;
    border-color: #000;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.favorite_before:after {
    left: 10px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.favorite_before:active {
    -ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    box-shadow: none;
}


.favorite_after {
    position: relative;
    width: 100px;
    height: 55px;
    margin: -20px 0 0 0;
}

.favorite_after:before,
.favorite_after:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 30px;
    width: 50px;
    height: 80px;
    background: #f88dc8;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.favorite_after:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.favorite_after:active {
    -ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    box-shadow: none;
}

.good_count_position {
    margin: 0 0 0 170px;
}

.good_sentence input {
    display: none;
}


.good_number {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 20px;
}

.good_number_before a {
    color: #536471;
    text-decoration: none;
}

.good_number_after a {
    color: #f91880;
    text-decoration: none;
}

.edit_button_frame {
    width: 120px;
}

.edit_button button {
    font-size: 40px;
    color: #0077ff;
    width: 100px;
}

.edit_button button:active {
    -ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

.comment_sentence {
    margin: 0;
    padding: 10px;
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    background-color: rgba(61, 106, 161, 0.447);
}

.comment-flex {
    display: flex;
}

.comment_box {
    width: calc(100% - 150px);
    height: 100px;
    padding: 10px;
    border: solid 1px black;
    margin: 0 auto;
    font-size: 30px;
}

.comment-send_btn {
    height: 100px;
    padding: 0.5em;
    text-decoration: none;
    color: #FFFAFA;
    background: #668ad8;
    border-bottom: solid 4px #627295;
    border-radius: 5px;
    font-size: 40px;
    width: 150px;
}

.comment-send_btn:active {
    -ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    box-shadow: none;
}

/* 以下、チャット */
.chatting_place {
    width: 100%;
    height: calc(100vh - 430px);
    overflow-y: scroll;
    overflow-x: hidden;
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
}

 /*Google Chrome、Safariへの対応*/
 .chatting_place::-webkit-scrollbar{
  display: none;
}

.chatting_place .faceicon {
    margin-right: -90px;
    width: 80px;
}

.chatting_place .faceicon img {
    margin-top: 25px;
    width: 90px;
    height: 90px;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
}

.onechat {
    display: flex;
    padding: 10px;
}

.says-top {
    margin: 0px 10px 0 100px;
}

.my-says-top {
    margin: 0 0 0 auto;
}

.says-flex {
    display: flex;
}

.says {
    margin-left: 30px;
    display: inline-block;
    position: relative;
    padding: 10px 15px;
    border-radius: 12px;
    background: #d7ebfe;
    max-width: 100%;
    word-break: break-all;
}

.my-says {
    margin-right: 10px;
    display: inline-block;
    position: relative;
    padding: 10px 15px;
    border-radius: 12px;
    background: #a3d3ff;
    max-width: 100%;
    word-break: break-all;
}

.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px;
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #d7ebfe;
}

.my-says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px;
    right: -24px;
    border: 12px solid transparent;
    border-left: 12px solid #a3d3ff;
}

.says p {
    margin: 10px;
    line-height: 1.5;
}

.comment_username {
    overflow: hidden;
    font-weight: bold;
    margin: 0 0 10px 30px;
}

.comment_postdata {
    text-align: right;
    font-size: 20px;
    color: #696969;
}


/* 完了ボタン */
.done_button_space {
    margin-bottom: 50px;
    text-align: center;
}

.applicant_info {
    margin-bottom: 40px;
    text-align: center;
}

.applicant_icon {
    display: flex;
    width: 100%;
    height: auto;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}

.applicant_icon a {
    display: flex;
    color: blue;
    text-decoration: none;
}

.applicant_icon img {
    width: 120px;
    height: 120px;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
    object-fit: cover;
}

.applicant_icon p {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.done_button {
    border-radius: 60px;
    font-size: 50px;
    padding: 1em 1em;
    margin: 0 auto;
    width: 500px;
    color: #FFFAFA;
    background-color: #4db56a;
}

.done_button:active {
    -ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    box-shadow: none;
}

/* .comment_reply {
    text-align: left;
    font-size: 30px;
    margin: 5px 0 30px 105px;
    border-radius: 10px;
    padding: 0.5em;
    background-color: rgba(61, 106, 161, 0.447);
} */

/* 以下、画像スライド*/

/* # =================================================================
   # Global selectors
   # ================================================================= */

html {
    box-sizing: border-box;
    overflow-y: scroll;
    /* All browsers without overlaying scrollbars */
    -webkit-text-size-adjust: 100%;
    /* iOS 8+ */
}

*,
::before,
::after {
    background-repeat: no-repeat;
    /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
    box-sizing: inherit;
}

::before,
::after {
    text-decoration: inherit;
    /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
    vertical-align: inherit;
}

a {
    background-color: transparent;
    /* Remove the gray background on active links in IE 10 */
    -webkit-text-decoration-skip: objects;
    /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

/* # =================================================================
     # Forms
     # ================================================================= */

input {
    border-radius: 0;
}

/* Apply cursor pointer to button elements */
/* button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
    cursor: pointer;
} */

textarea {
    overflow: auto;
    /* Internet Explorer 11+ */
    resize: vertical;
    /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    /* Specify font inheritance of form elements */
}


button {
    overflow: visible;
    /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
html [type="button"],
/* Prevent a WebKit bug where (2) destroys native `audio` and `video`controls in Android 4 */
[type="reset"],
/* [type="submit"] {
    -webkit-appearance: button;
    /* Correct the inability to style clickable types in iOS 
} */

button,
select {
    text-transform: none;
    /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
}

/*==================================================
スライダーのためのcss
===================================*/
.slider {
    margin: 0 auto;
}

.slider img {
    max-width: none;
    width: calc(90vw - 40px);
    height: calc(90vw - 40px);
    object-fit: cover;
}

.slider-none {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.slider-none img {
    width: calc(90vw - 40px);
    height: calc(90vw - 40px);
    object-fit: cover;
    padding-right: 40px;
    margin-left: 5vw;
}

.prompt_1 {
    margin-top: 200px;
    text-align: center;
    font-size: 50px;
    color: rgba(119, 29, 29, 0.534);
}