.text-span-all {
    letter-spacing: 0.12em;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif;
}

.home_1 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 120px;
}

.display {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    width: calc(100% - 40px);
    vertical-align: middle;
}

.detail_display {
    text-decoration: none;
    color: #000000;
    margin: 30px 4px 0 4px;
}

.gift-display-image {
    height: calc( ( 100vw - 70px ) / 3);
    width: calc( ( 100vw - 70px ) / 3);
    object-fit: cover;
}

.group_itiran {
    margin-left: -40px;
    display: block;
    padding: 0.5em;
    color: #494949;
    background: #f3ebe2;
    border-left: solid 10px #ec8e29;
    font-size: 70px;
}

.group_btn {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    background: #668ad8;
    border-bottom: solid 4px #627295;
    border-radius: 5px;
}

.group_btn_under {
    font-size: 60px;
    background: #668ad8;
    color: #FFF;
}

.group_btn_above {
    font-size: 30px;
    background: #668ad8;
    color: #FFF;
    text-align: center;
}

.group_btn:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    /*影を小さく*/
    border-bottom: none;
}

hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #bbb inset;
}

.prompt_1 {
    padding: 0 20px;
    margin-top: 150px;
    text-align: center;
    font-size: 50px;
    color: rgba(119, 29, 29, 0.534);
}

.prompt_2 {
    text-align: center;
    font-size: 50px;
    color: rgba(119, 29, 29, 0.534);
}

img {
    border: 1px solid gray;
    border-radius: 10px 10px 0 0;
}

.home-image-title {
    height: 90px;
    font-size: 30px;
    border-radius: 0 0 10px 10px;
    border: 1px solid gray;
    width: calc( ( 100vw - 70px ) / 3);
    display:flex;
    align-items:center;
    margin-top: -5px;
}

.home-image-title-span{
    text-align: center;
    width: calc(100% - 100px);
    padding: 0 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}