body{
    display: block;
    text-align: center;
}
.join-title{
    margin-top: 180px;
    font-size: 70px;
}
.img-join{
    margin-top: 50px;
    border-radius: 50%;
    margin: 0 auto;
    width: calc(40vw - 20px);
    height: calc(40vw - 20px);
    object-fit: cover;
    border: 5px solid black;
}
.pass-area{
    padding: 0 30px;
}
.pass-title{
    margin: 60px 0 30px 0;
    font-size: 50px;
    text-align: left;
    font-weight: bold;
}
.pass-explain{
    font-size: 30px;
    text-align: left;
}
.input-style{
    margin-top: 50px;
    height: calc(10vw - 10px);
    width: calc(100vw - 100px);
    border: solid 2px black;
    font-size: 40px;
    padding: 20px;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif;
}
.btn-join{
    margin-top: 100px;
    width: calc(30vw);
    height: calc(10vw);
    font-size: 40px;
}
.btn-style{
    display: block;
    margin: 80px auto 0 auto;
    height: 115px;
    width: 30%;
    font-size: 40px;
    padding: 30px 20px;
    box-sizing: border-box;
    background-color: #0077ff;
    border-radius: 20px;
    border: 1px solid #0077ff;
    color: white;
}
.btn-style:active {
    box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
}

.prompt_2 {
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
    color: rgba(119, 29, 29, 0.534);
}

.prompt_3 {
    margin-top: 180px;
    text-align: center;
    font-size: 50px;
    color: rgba(119, 29, 29, 0.534);
}

.home-atag{
    font-size: 30px;
    color: blue;
}

.input-pass{
    width: 100%;
    border-radius: 20px;
    border: 2px solid black;
    text-indent: 20px;
    font-size: 30px;
    padding: 30px 0;
    box-sizing: border-box;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif !important;
}