.body {
    font-size: 40px;
    margin-top: 180px;
    padding: 0 20px
}

.separate{
    display: flex;
}

/* グループの名前 */
.group-name {
    text-align: center;
    font-size: 70px;
    margin: 0 0 50px 0;
}

/* グループのアイコン */
.group-icon {
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid gray;
    margin-top: 30px;   /* 中央に配置したいが、上手くいかず無理やりmarginにしてる */
}

/* メンバー一覧 */
.img-icon{
    margin:10px 0 0 0;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    border: solid 1px gray;
    display: table-cell;
    vertical-align: middle;
}

.member-list-sentence {
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin: 50px auto 0 auto;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #074770;
    width: 50%;
}

.member-border {
    width: 100%;
    border-radius: 20px;
    border-top: solid 8px #074770;
    border-bottom: solid 8px #074770;
    border-right: solid 8px #074770;
    border-left: solid 8px #074770;
    box-sizing: border-box;
    margin-top: -5px;
}

.member-border hr{
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #bbb inset;
    margin: 0;
}

/* 名前タップでそのメンバーのプロフィール画面遷移する処理 */
.acd-check {
    display: none;
}

.acd-label {
    padding: 10px 0 10px 10px;
    height: 120px;
    display: flex;
    text-decoration: none;
}

.acd-label p{
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
    overflow-wrap: break-word;
    word-break: break-all;
    font-size: 35px;
    color: #000;
}

.acd-label hr{
    display:block;
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #bbb inset;
    margin: 0;
}
.acd-content {
    /* border: 1px solid #333; */
    margin: 0 0 0 0;
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .5s;
    visibility: hidden;
}

.acd-check:checked+.acd-label+.acd-content {
    height: 40px;
    opacity: 1;
    padding: 10px;
    visibility: visible;
}
.acd-center{
    text-align: center;
}

.member-profile {
    margin: 30px 0 0 30px;
    text-decoration: none;
    color: blue;
}

/* ギフト一覧 */
.gift-list-sentence {
    text-align: center;
    font-size: 40px;
    min-width: 200px;
    padding: 30px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border-radius: 20px;
    border: none;
    background: #efefef;
    /* box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff; */
    color: #585858;
    text-decoration: none;
}

/* 招待リンク */
.inv-link-sentence {
    text-align: center;
    font-size: 40px;
    min-width: 360px;
    margin-left: 40px;
    padding: 30px 0;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border-radius: 20px;
    border: none;
    background: #efefef;
    /* box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff; */
    color: #585858;
    text-decoration: none;
}

/* 脱退 */
.leave-button{
    text-align: center;
}
.leave-sentece {
    display: inline-block;
    text-align: center;
    padding: 30px 0;
    margin: 100px 0 0 0;
    width: 50%;
    font-weight: bold;
    background: #e60033;
    outline: none;
    border-radius: 20px;
    border: none;
    color: #EEEEEE;
    text-decoration: none;
}

.prompt_1 {
    padding: 0 20px;
    margin-top: 150px;
    text-align: center;
    font-size: 50px;
    color: rgba(119, 29, 29, 0.534);
}

/* グループ情報追加 */
.group-title h1{
    margin-top: 30px;
    font-size: 60px;
    text-align: left;
    color: #000000;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.group-info{
    display: flex;
    width: 100%;
    margin-top: 50px;
    min-height: 300px;
}
.group-contents{
    margin-left: 50px;
}
.groupcode{
    margin: 0 0 30px 0;
}
.groupcode-copy{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.groupcode-copy img{
    width: 50px;
    height: auto;
}
.groupcode-copy p{
    padding-left: 20px;
    color: blue;
    margin: 0 auto;
}
.group-button{
    display: flex;
}

