.body {
    font-size: 40px;
    margin-top: 180px;
    padding: 0 20px
}

/* グループの名前 */
.group-name {
    text-align: center;
    font-size: 70px;
    margin: 0 0 50px 0;
}

/* グループのアイコン */
.group-icon {
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 9px solid gray;
}

/* メンバー一覧 */
.member-list-sentence {
    text-align: center;
    font-size: 50px;
    color: #fff;
    margin: 150px auto 0 auto;
    background-color: #074770;
    width: 50%;
}

.member-border {
    width: 100%;
    height: 500px;
    overflow: scroll;
    border-radius: 20px;
    border-top: solid 8px #074770;
    border-bottom: solid 8px #074770;
    border-right: solid 8px #074770;
    border-left: solid 8px #074770;
}

/* 名前タップでそのメンバーのプロフィール画面遷移する処理 */
.acd-check {
    display: none;
}

.acd-label {
    text-align: center;
    font-size: 50px;
    color: #000;
    display: block;
    margin: 0 0 0 30px;
    padding: 10px;
    display: flex;
}

.acd-content {
    /* border: 1px solid #333; */
    margin: 0 0 0 0;
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .5s;
    visibility: hidden;
}

.acd-check:checked+.acd-label+.acd-content {
    height: 40px;
    opacity: 1;
    padding: 10px;
    visibility: visible;
}
.acd-center{
    text-align: center;
}

.member-profile {
    margin: 30px 0 0 0;
}

/* .group-member {
    display: flex;
}

.group-member-name {
    margin: 20px 30px 20px 40px;
    width: 250px;
}

.group-member-email {
    margin: 20px 0 0 20px;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */

/* ギフト一覧 */
.gift-list-sentence {
    display: inline-block;
    padding: 30px 0;
    margin: 100px 0 0 0;
    width: calc(100%);
    border: 4px solid grey;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    color: #000000;
}

/* 招待リンク */
.inv-link-sentence {
    display: inline-block;
    padding: 30px 0;
    margin: 100px 0 0 0;
    width: calc(100%);
    border: 4px solid grey;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    color: #000000;
}

/* 脱退 */
.leave-sentece {
    display: inline-block;
    padding: 30px 0;
    margin: 100px 0 100px 0;
    width: calc(100%);
    border: 4px solid grey;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    color: #000000;
}

.prompt_1 {
    padding: 0 20px;
    margin-top: 150px;
    text-align: center;
    font-size: 50px;
    color: rgba(119, 29, 29, 0.534);
}