body{
    display:block;
    text-align: center;
}
.file-title {
    margin: 90px 0 60px 0;
    font-size: 60px;
}

.lnk-group-div {
    margin: 0 10px;
    text-align: right;
    margin-top: 210px;
    margin-bottom: 30px;
    margin-right: 25px;
}

.btn-style2 {
    width: 60px;
    text-align: center;
    font-size: 40px;
    padding: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #efefef;
    box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
    color: #585858;
    text-decoration: none;
}

.icon-flame{
    border: dotted 2px black;
    border-radius: 50%;
    margin: 0 auto;
    width: calc(35vw - 20px);
    height: calc(35vw - 20px);
}
.icon-img {
    border-radius: 50%;
    margin: 0 auto;
    width: calc(35vw - 20px);
    height: calc(35vw - 20px);
    object-fit: cover;
}
.btn-create{
    width: calc(30vw);
    height: calc(10vw);
    font-size: 40px;
}
.btn-style{
    display: inline-block;
    margin: 30px 0 0 0;
    padding: 30px 0;
    color: black;
    font-size: 30px;
    border-radius: 20px;
    border: 1px gray solid;
    width: 30%;
}
.btn-style input {
    display: none;
}
.prompt_2 {
    text-align: center;
    font-size: 50px;
    color: rgba(119, 29, 29, 0.534);
}
.header-margin-top {
    margin-top: 200px;
    padding: 0 20px;
}
.a-tag{
    font-size: 30px;
    color: blue;
    padding-bottom: 60px;
}
.group-create-button{
    margin: 180px auto 0 auto;
    font-size: 40px;
    padding: 30px 20px;
    background-color: #0077ff;
    border-radius: 20px;
    border: 1px solid #0077ff;
    color: white;
    width: 100%;
    height: 115px;
    letter-spacing: 0.12em;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif !important;
}
.must input{
    caret-color: transparent;
}
.must input:valid {
    background: #fff;
}
.flex-title{
    display: flex;
    margin: 60px 0 30px 0;
}
.input-title{
    margin: auto 0 auto 20px;
    font-size: 50px;
    text-align: left;
}
.precautions{
    font-size: 35px;
    margin: auto 0 0 auto;
}
.text-box{
    width: 100%;
    border-radius: 20px;
    border: 2px solid black;
    text-indent: 20px;
    font-size: 30px;
    padding: 30px 0;
    box-sizing: border-box;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif !important;
}