body{
    background-color: #fce5cdfe;
    text-align: center;
    margin: 50px 0px;
    display: block;
}
.login{
    margin-top: 30px;
}
.login-text{
    margin: 0px;
    margin-top: 20px;
    padding-left: 70px;
    text-align: left;
}
.autologin-div {
    margin: 0 50px;
    text-align: left;
}

.btn-login{
    width: calc(100vw - 100px);
    height: 30px;
    margin-top: 186px;
    font-size: 16px;
    color: black;
    border: solid 1px black;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.lnk-sakusei-div{
    margin: 0 50px;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 60px;
}

.lnk-sakusei{
    font-size: 10px;
    text-decoration: none;
    color: black;
    border: solid 1px black;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

#lg-effect{
    width: calc(100vw - 100px);
    height: 30px;
    border-radius: 20px;
    border: 3px solid#000;
    text-indent: 20px;
    font-size: 16px;
}
#lg-effect::placeholder{
    text-indent: 20px;
}
#lg-effect:focus{
    outline: 0;
    border-color: hotpink;
}