body{
    display: block;
}

input[name="tab_item"] {
    display: none;
}

.display {
    display: none !important;
    clear: both;
    overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
#tab_0:checked ~ #tab_content_0,
#tab_1:checked ~ #tab_content_1,
#tab_2:checked ~ #tab_content_2,
#tab_3:checked ~ #tab_content_3,
#tab_4:checked ~ #tab_content_4
{
    display: flex !important;
}

/* タブ */
.scroll-nav {
    padding: 0px 20px;
    border-radius: 15px;
    width: 1250px;
    -webkit-overflow-scrolling: touch;
    display: flex;
}

.scroll-nav label {
    text-align: center;
    font-size: 40px;
    width: 250px;
    padding: 40px 0;
    background-color: white;
    color: gray;
    border: none;
}

/*選択されているタブのスタイルを変える*/
#tab_0:checked ~ .nav-wrap > .scroll-nav > #tab_item_0,
#tab_1:checked ~ .nav-wrap > .scroll-nav > #tab_item_1,
#tab_2:checked ~ .nav-wrap > .scroll-nav > #tab_item_2,
#tab_3:checked ~ .nav-wrap > .scroll-nav > #tab_item_3,
#tab_4:checked ~ .nav-wrap > .scroll-nav > #tab_item_4
{
    color: black;
    font-weight: bold;
    border-bottom: 10px solid #3f97fa;
}

.user-nameid{
    width: calc(100vw - 40px);
    display: inline-block;
}

.user-name-object{
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
}

.img-icon{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
    border: solid 1px gray;
}

.user-info{
    text-align: center;
    line-height: 1.5;
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    word-break: break-all;
    padding: 30px 0;
}
.user-mailaddress{
    font-size: 40px;
    font-weight: normal;
}

.textarea-content{
    resize: vertical;
    margin: 30px 20px;
    width: calc(100vw - 40px);
    min-height: 200px;
    border: 1px solid gray;
    border-radius: 20px;
}

.textarea-content p{
    margin: 0;
    padding: 20px;
    font-size: 30px;
    line-height: 1.5;
}

.tab-swihch{
    text-align: center;
    margin-bottom: 30px;
}

.btn-div-edit {
    margin: 180px 0 30px 0;
    height: 60px;
    font-size: 40px;
}

.btn-div-edit a{
    text-decoration: none;
}

.btn-style {
    text-align: center;
    margin: 0 20px 0 auto;
    width: 140px;
    font-size: 40px;
    min-width: 130px;
    padding: 30px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #efefef;
    box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
    color: #585858;
}

.btn-style:active {
    box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
}

.nav-wrap {
    border-top: solid 3px #bbb;
    border-bottom: solid 3px #bbb;
    position: sticky;/*固定する*/
    position: -webkit-sticky;/*Safari用ベンダープレフィックス*/
    top: 144px;/*ブラウザの上からの距離はゼロ*/
    -ms-overflow-style: none;
    overflow-x: auto;
    background-color: white;
    /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
    -ms-overflow-style: none;
    /*Firefoxへの対応*/
    scrollbar-width: none;
}

 /*Google Chrome、Safariへの対応*/
.nav-wrap::-webkit-scrollbar{
    display: none;
}

/* ユーザープロフィールナビ 　横スクロール無し*/
.user_nav {
    width: auto;
}

.user_nav_item {
    margin: 0 auto;
}