body{
    display: block;
}
.user-nameid{
    margin-left: 20px;
    width: calc(100vw - 310px);
    display: inline-block;
}
.user-name-object{
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
}
.img-icon{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
    border: solid 1px gray;
}
.user-info{
    display: flex;
    align-items: center;
    height: 125px;
    margin: 0;
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textarea-content{
    resize: vertical;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    width: calc(100vw - 40px);
    height: 200px;
    border: 1px solid gray;
    border-radius: 20px;
}
.tab-swihch{
    text-align: center;
    margin-bottom: 30px;
}

.btn-div-edit {
    margin: 180px 0 30px 0;
    height: 60px;
    font-size: 40px;
}

.btn-div-edit a{
    text-decoration: none;
}

.btn-style {
    text-align: center;
    margin: 0 20px 0 auto;
    width: 140px;
    font-size: 40px;
    min-width: 130px;
    padding: 30px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #efefef;
    box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
    color: #585858;
}

.btn-style:active {
    box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
}

.nav-wrap {
    position: sticky;/*固定する*/
    position: -webkit-sticky;/*Safari用ベンダープレフィックス*/
    top: 150px;/*ブラウザの上からの距離はゼロ*/
    -ms-overflow-style: none;
    overflow-x: auto;
    margin: 30px 0;
}

/* タブ */
.scroll-nav {
    margin: 0 20px;
    border-radius: 15px;
    width: 1750px;
    min-width: 100%;
    -webkit-overflow-scrolling: touch;
    display: flex;
}

.scroll-nav button {
    font-size: 40px;
    width: 250px;
    padding: 30px 0;
    background-color: white;
    color: gray;
    border: none;
}

.scroll-nav button:hover {
    color: black;
}