body{
    display: block;
}
.user-nameid{
    width: calc(100% - 430px);
}
.user-name-object{
    display: flex;
    margin-left: 50px;
}
.img-icon{
    margin-top: 260px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
}
.user-name{
    margin-top: 330px;
    margin-left: 50px;
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-id{
    font-size: 40px;
    margin-left: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.textarea-content{
    resize: vertical;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    width: calc(100vw - 100px);
    height: 200px;
}
.tab-swihch{
    text-align: center;
    margin-bottom: 30px;
}
.btn-iine{
    width: calc(50vw - 50px);
    height: 50px;
    font-size: 40px;
    margin: 0;
}
.btn-gift{
    width: calc(50vw - 50px);
    height: 50px;
    font-size: 40px;
    margin: 0;
}
.btn-edit{
    margin-top:200px;
    width: 140px;
    height: 60px;
    font-size: 40px;
}
.btn-div-edit{
    margin-left: auto;
    margin-right: 20px;
}
.btn-style{
    min-width: 130px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #efefef;
    box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
    color: #585858;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif;
  }
  .btn-style:active {
    box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
  }