body{
    background-color: #FEFEFE;
    text-align: center;
    margin: 50px 0px;
    display: block;
}
.btn-create{
    width: calc(80vw - 100px);
    height: 40px;
    margin-top: 110px;
    font-size: 20px;
}
.create-form{
    padding: 0 20px;
}
.input-form{
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
    text-indent: 20px;
    height: 40px;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif !important;
}
.autologin-div {
    margin: 0 50px;
    text-align: left;
}

.lnk-sakusei-div{
    margin: 0 10px;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 25px;
}

.lnk-sakusei{
    text-decoration: none;
    text-align: center;
}

.btn-style{
    min-width: 70px;
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #efefef;
    box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
    color: #585858;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif;
}
.btn-style:active {
    box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
}
.create-button{
    width: calc(80vw - 100px);
    height: 40px;
    margin: 80px auto 0 auto;
    font-size: 20px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    background-color: #0077ff;
    border-radius: 5px;
    border: 1px solid #0077ff;
    color: white;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif;
}
.prompt_2 {
    text-align: center;
    font-weight: bold;
    color: rgba(119, 29, 29, 0.534);
}
.content-flex{
    display: flex;
    margin: 5px 0;
}
.content-flex h1{
    font-size: 15px;
    text-align: left;
}
.content-flex p{
    font-size: 15px;
    margin: 10px 0 0 auto;
}
/* 入力フォーム選択時の枠線 */
input:focus {
    outline: 0;
    border-color : #0077ff;

}
select:focus {
    outline: 0;
    border-color : #0077ff;
}
textarea:focus {
    outline: 0;
    border-color : #0077ff;
}
input{
    background: #fafafa;
}