body {
    font-size: 50px;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* パスワード編集 */

.edit_edit_password {
    text-align: center;
}

.edit_password {
    margin: 250px 0 0 0;
}

.current_password {
    margin: 150px 0 0 0;
}

.edit_password_place {
    display: inline-block;
    width: 500px;
    height: 100px;
    font-size: 60px;
    padding: 0.5em;
    border: 5px solid #999;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 0;
}

.edit_btn[type="submit"] {
    margin: 100px 0 0 0;
    font-size: 60px;
    padding: 0.5em;
    width: 250px;
    height: 200px;
    color: #fff;
    background: #5bbee5;
    background: linear-gradient(to right, #5bbee5, #52ddae);
    border-radius: 1.5em;
}

.edit_btn_center {
    text-align: center;
}