/* パスワード編集 */
.password_edit{
    font-size: 30px;
    margin-top: 200px;
}

.error_message{
    margin: 2em 1em;
    padding: 0.5em 1em;
    text-align: center;
    background: #FFF;
    border: solid 5px red;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.error_message p{
    font-size: 50px;
    margin: 0; 
    padding: 0;
}

.completion_message{
    margin: 2em 1em;
    padding: 0.5em 1em;
    text-align: center;
    background: #FFF;
    border: solid 5px blue;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.completion_message p{
    font-size: 50px;
    margin: 0; 
    padding: 0;
}

.password_edit_form{
    margin: 0 auto;
    text-align: center;
}

.edit_password_title{
    font-size: 50px;
    color: #494949;
}

.edit_password_place {
    display: inline-block;
    width: 500px;
    height: 100px;
    font-size: 60px;
    padding: 0.5em;
    border: 5px solid #999;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 0;
}

.edit_btn[type="submit"] {
    margin: 100px 0 0 0;
    font-size: 60px;
    padding: 0.5em;
    width: 250px;
    height: 200px;
    color: #fff;
    background: #5bbee5;
    background: linear-gradient(to right, #5bbee5, #52ddae);
    border-radius: 1.5em;
}

.edit_btn_center {
    text-align: center;
}