body {
    font-size: 50px;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif;
}

.edit_edit_icon {
    text-align: center;
}

.edit_edit {
    display: flex;
}

.edit_border {
    border: solid 10px #52ddae;
    border-radius: 50px;
    padding: 0 0 50px 0;

}

/* アイコン編集 */
.edit_icon {
    margin: 0 auto 0 auto;
    text-align: center;
}

.current_icon {
    margin: 30px 0 60px 0;
    width: 100%;
    float: left;
    text-align: center;
}

img.img_icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 9px solid gray;
}

.present_icon {
    margin: 30px 0 60px 0;
    width: 100%;

    text-align: center;
}

.edit_icon_place[type="file"] {
    margin: 60px 80px 0 0;
    font-size: 30px;
    width: 500px;
    display: none;
}

.edit_icon_place_sentence {
    /* background-color: #f2f2f2;
    border: 5px solid #999; */
    color: blue;
    box-sizing: border-box;
    margin: 100px 10px 0 0;
    padding: 0.5em;
    /* border-radius: 2em; */
}

/* 氏名編集 */
.edit_name {
    margin: 80px 80px 0 40px;
    width: 300px;
}

.current_name {
    margin: 80px 80px 0 0;
    width: 500px;
}

.edit_name_place {
    display: inline-block;
    width: 500px;
    height: 100px;
    font-size: 60px;
    padding: 0.5em;
    border: 5px solid #999;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 0.5em 0;
}

/* ユーザーID編集 */
.edit_mailaddress {
    margin: 80px 80px 0 40px;
    width: 300px;
}

.current_mailaddress {
    margin: 80px 80px 0 0;
    width: 500px;
}

.edit_mailaddress_place {
    display: inline-block;
    width: 500px;
    height: 100px;
    font-size: 60px;
    padding: 0.5em;
    border: 5px solid #999;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 0.5em 0;
}

/* コメント編集 */
.edit_profile-comment {
    margin: 80px 80px 0 40px;
    width: 300px;
}

.current_profile-comment {
    margin: 80px 80px 0 0;
    width: 500px;
}

.edit_profile-comment_place {
    display: inline-block;
    width: 500px;
    height: 300px;
    font-size: 60px;
    padding: 0.5em;
    border: 5px solid #999;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 0;
}

.edit_btn[type="submit"] {
    margin: 100px 0 0 0;
    font-size: 60px;
    padding: 0.5em;
    width: 250px;
    height: 200px;
    color: #fff;
    background: #5bbee5;
    background: linear-gradient(to right, #5bbee5, #52ddae);
    border-radius: 1.5em;
}

.edit_btn_center {
    text-align: center;
}

/* .edit_item {
    margin: 50px 80px 0 40px;
    width: 30%;
} */