.nav-wrap {
    width: 100vw;
    font-size: 40px;
    -ms-overflow-style: none;
    overflow: auto;
    height: 60px;
}

/* タブ */
.scroll-nav {
    margin: 30px 20px;
    border-radius: 15px;
    width: 1500px;
    min-width: 100%;
    background: skyblue;
    -webkit-overflow-scrolling: touch;
    display: flex;
    position: relative;
}
