.trade{
    font-size: 40px;
    padding: 40px;
    margin-top: 180px;
}

.trade-info p{
    font-size: 0.6em;
}

.trade-title{
    text-align: center;
}

.trade-title h1{
    padding: 10px;
    word-break: break-all;
}

.participant{
    margin-top: 100px;
}

.participant ul{
    display: flex;
	overflow-x: scroll;
	margin: 0;	
	padding: 0;
}

.participant li{
    list-style: none;
    margin: 0 10px;
}

.img-icon {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;
    border: solid 1px gray;
}

.trade-theme{
    margin-top: 80px
}

/* テーマを一覧で表示 */


/* .theme-list{
    resize: vertical;
    width: 100%;
    height: auto;
    border: 1px solid gray;
    border-radius: 20px;
}

.theme-list li{
    overflow-wrap: break-word;
} */

.trade-explain{
    margin-top: 80px;
}

.readmore{
    position: relative;
    box-sizing: border-box;
    /*以下お好み*/
    /* ボーダーを付ける場合 */
    padding: 15px;
    border: 1px solid gray;
    border-radius: 15px;
    margin: 15px 0px;
}

.readmore ul{
    margin : 0 auto;
}

.readmore li{
    font-size: 0.6em;
    padding: 10px 0;
    word-wrap: break-word;
}

.readmore-content{
    position: relative;
    overflow: hidden;
    font-size: 0.8em;
    /*以下お好み*/
    /*高さの初期値*/
    height: 200px;
}

.readmore-content::before {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    content: "";
    /*以下お好み グラデーションの色と高さ 高さはreadmoreのheight以下にすること*/
    height: 50px;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.8) 50%, #fff 100%);
    background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.8) 50%, #fff 100%);
}

/* 続きを読むボタン */
.readmore-label{
    display: table;
    bottom: 5px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    margin: 0 auto;
    z-index: 2;
    padding: 0 10px;
    background-color: #fff;
    border-radius: 10px;
    color: #000;
}

.readmore-label:before{
    content: '続きを読む';
}

.readmore-check{
    display: none;
}

/*チェック時にボタンを非表示*/
.readmore-check:checked ~ .readmore-label{
    position: static;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    /* 「続きを読む」を押した後、元に戻す必要がない場合は、上のオプションを消してこの1行だけにする */
    /* display: none; */
}

.readmore-check:checked ~ .readmore-label:before{
    content: '閉じる';
}

/*チェック時に高さを自動に戻す*/
.readmore-check:checked ~ .readmore-content{
    height: 100%;
}

/*チェック時グラデーション等を削除*/
.readmore-check:checked ~ .readmore-content::before {
    display: none;
}


/* 投稿フォーム */
.trade-form{
    margin-top: 250px;
    margin-bottom: 150px;
    font-size: 40px;
}

.trade-form span{
    color: red;
}

.trade-form h2{
    text-align: center;
    word-break: break-all;
}

.form-image{
    margin-top: 80px;
}

.upload-label {
    width: 100%;
    display: inline-block;
    margin: 30px 0 0 0;
    padding: 25px 0;
    color: black;
    border-radius: 20px;
    border: 1px gray solid;
    text-align: center;
}

.upload-label input {
    display: none;
}

.input {
    display: none;
}

.sample-img {
    border: 1px solid gray;
    border-radius: 20px;
    overflow-x: scroll;
    white-space: nowrap;
    width: calc(100vw - 80px);
    height: calc(40vw - 20px);
    text-align: center;
}

.sample-img-size {
    width: calc(40vw - 20px);
    height: calc(40vw - 20px);
    object-fit: cover;
}

.open {
	cursor:pointer;
}
#pop-up {
	display: none;
}
.overlay {
	display: none;
}
#pop-up:checked + .overlay {
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
}

.window {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 90vw;
	max-width: 360px;
    padding: 20px;
	height: 300px;
	background-color: #fff;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}

.close {
	position: absolute;
	top: 4px;
	right: 4px;
	cursor:pointer;
} */

.form-name{
    margin-top: 80px;
}

.form-box{
    width: calc(100vw - 110px);
    border-radius: 20px;
    font-size: 1.2em;
    border: 1px solid gray;
    padding: 15px;
}

.form-hint{
    margin-top: 80px;
}

.form-hint p{
    font-size: 0.7em;
    word-break: break-all;
}

.tradeinfo-button{
    display: block;
    margin: 80px auto 0 auto;
    height: 5%;
    width: 30%;
    font-size: 50px;
    padding: 10px;
    box-sizing: border-box;
    border: 5px solid #68779a;
    border-radius: 10px;
    background: #cbe8fa;
}

/* エラーメッセージの表示 */
.prompt_2 {
    padding: 30px;
    color: rgba(119, 29, 29, 0.534);
}

.msg-size {
    height: 50px;
    color: rgba(119, 29, 29, 0.534);
    text-align: center;
}


/* 交換会終了後の表示 */
.after-trade{
    margin-top: 150px;
    margin-bottom: 150px;
    font-size: 40px;
    text-align: center;
    display: block;
}

.btn-switch{
    font-size: 40px;
    width: 250px;
    padding: 30px 0;
    background-color: white;
    color: gray;
    border: 1px gray solid;
    border-radius: 20px;
}
.send-to{
    padding: 50px;
    margin-top: 20px;
    margin-left: 10%;
    display: flex;
}
.send-to-name{
    font-size: 50px;
    margin: auto 20px;
}
.img-icon-a{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 100%;
    border: solid 2px black;
}
.sending-confirmation{
    align-items: flex-end;
    width: calc(30vw);
    height: calc(10vw);
    font-size: 40px;
    min-width: 130px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #efefef;
    box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
    color: #585858;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif;
}
.sending-confirmation:active{
    box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
}
.img-gift{
    width: calc(100vw - 80px);
    height: calc(100vw - 80px);
    object-fit: cover;
    margin-top: 20px;
}
.send-me{
    display: block;
}
.send-you{
    display: block;
}
.gift-name-font{
    font-size: 60px;
}

/* 投稿後の交換物の表示 */
.post-goods{
    margin-top: 250px;
    margin-bottom: 150px;
    text-align: center;
}
.post-image{
    width: calc(100vw - 80px);
    height: calc(100vw - 80px);
    object-fit: cover;
    margin-top: 20px;
}
.goods-info h3{
    text-align: left;
}
.ul-block{
    box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 3px 6px 0 rgba(60,64,67,0.302);
    border-radius: 8px;
    position: absolute;
    background-color: #fff;
    width: 400px;
    z-index: 10;
}
.ul-block li{
    overflow: inherit;
    word-wrap: break-word;
    padding: 10px 20px;
}
/*編集画面のサイズ調整用*/
.tradeinfo-edit{
    padding: 40px;
}
.trade-box{
    display: flex;
    margin-bottom: 30px;
}
.trade-left{
    margin-bottom: 0px;
}
.trade-right{
    margin: auto 0 0 auto;
    font-size: 35px !important;
}
.title-flex-tag1 {
    /* margin: 0; */
    text-align: left;
    font-size: 40px;
    background-color: gray;
    color: #fff;
    padding: 20px 30px;
}