.trade-list{
    width: 100%;
    margin-top: 160px;
}
.tab-group{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab{
    flex-grow: 1;
    padding:5px;
    height: 60px;
    line-height:60px;
    border:solid 1px #CCC;
    text-align:center;
    font-size: 32px;
}
.panel-group{
    text-decoration: none;
    color: black;
    display: flex;
}
.panel{
    display:none;
}
.group-icon-space{
    display: flex;
    align-items: center;
    width: 20%;
    margin: 30px;
}
.group-icon{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    border: 1px solid grey;
}
.trade-info-space{
    width: 80%;
    padding: 30px 20px;
    display: block;
}
.tab.is-active{
    background:#668ad8;
    color:#FFF;
    transition: all 0.2s ease-out;
}
.panel.is-show{
    display:block;
}